<html>
  <head>
    <meta charset="utf-8"/>
    <!-- さっき落としてきたknockoutをインポート -->
    <script src="../lib/knockout.js"></script>
    <!-- 下に表示してるViewModelのファイルをインポート -->
    <script src="../js/index.js"></script>
  </head>
  <!-- $indexで配列のインデックス値を取得できる（0始まり） -->
<!-- $parentで親のコンテキストを取得できる -->
<table>
  <tbody data-bind="foreach: people">
     <tr>
        <td>[roop <span data-bind="text: $index() + 1"></span>]</td>
        <td data-bind="text: lastName"></td>
        <td data-bind="text: firstName"></td>
        <td>
            <a href="#" data-bind="click: $parent.remove">削除</a>
        </td>
     </tr>
  </tbody>
</table>
<button data-bind="click: change">追加</button>

<script type="text/javascript">

    function viewModel() {
        var self = this;

        // observableArrayをセット（配列で初期化している）
        self.people = ko.observableArray([
            { firstName: '太郎', lastName: 'ほげ' },
            { firstName: '一郎', lastName: 'ふー' },
            { firstName: '三郎', lastName: 'ほげほげ' }
        ]);

        // 追加が押されたら要素追加！
        self.change = function () {
            self.people.push(
                { firstName: '追加分', lastName: '私は' }
            );
        };
        // 削除が押されたら要素削除！
        self.remove = function () {
            self.people.remove(this);
        };
    }

    ko.applyBindings(new viewModel());

</script>

</html>
